.navbarWrapper {
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 15dvh;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  border-bottom: 1px solid rgba(128, 128, 128, 0.459);
  overflow: hidden;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.333);
}
.navbarWrapper > div {
  padding: 0.5% 1%;
    height: 15dvh;
}
.brandingWrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 13dvh;
  border-right: 1px solid rgba(128, 128, 128, 0.354);
  padding: 0.5dvh;
}
.brandingLogo {
  display: flex;
  justify-content: center;
}
.brandName > h2 {
  text-align: center;
}
.locationWrapper {
  height: 15dvh;
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 0vh 1vh;
  grid-template-rows: 1fr 1fr;
}
.locationSelection {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 3vh;
}
.locationDetectionWrapper {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 99;
  position: fixed;
  background-color: rgb(0 0 0 / 32%);
  opacity: 1;
}
.locationDetectionWrapperBody {
  border-radius: 5px;
  padding: 1vh;
  background-color: white;
  color: black;
  position: absolute;
  z-index: 99999999;
  top: 15dvh;
  left: 20dvw;
  height: 30dvh;
  width: 35dvw;
  opacity: 1;
}
.Locationtitle {
  text-align: end;
}
.searchDiv{
    position: relative;
    display: grid;
    align-items: center;
    padding: 0.5vw;
}
.searchDiv > input{
    padding: 2vh;
    width:40dvw;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.049);
    background-color: rgba(0, 0, 0, 0.025);
    outline: none;

}
.searchDiv > label{
  font-family: "PT Serif", serif;
  display: flex;
  gap: 1vw;
  height: 14dvh;
  width: 100%;
  position: absolute;
  align-items: center;
  padding: 5px;
}
.label {
    top: 50%;
    left: 10px;
    animation: transform 2.5s ease infinite; /* Add duration and timing function */
    font-size: 1rem;
    color: #555;
    opacity: 1;
  }
@keyframes transform {
    0% {
      transform: translateY(100%);
      opacity: 1; /* Ensure it's visible when starting */
    }
    50%{
      transform: translateY(0%);
      opacity: 1;
    }
    100% {
      transform: translateY(-150%);
      opacity: 0; /* Fade out at the end */
    }
  }
  

.searchBoxWrapper{
    display: flex;
    justify-content: space-around;
}
.cartWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartBody{
    height: 8dvh;
    width: 10dvw;
    padding: 0.5dvh;
    border-radius: 5px;
    background-color: rgba(7, 23, 57, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1dvw;
    color: white;
    font-size: x-large;
}